*.swp
CMakeCache.txt
install_manifest.txt
CMakeFiles/
Makefile
*.tml
*.cmake
tmocmd
tmogui
*.cxx
*.so
resources*.h
*.dat
TMOCadik08/resources/images
*.dvi
*.bbl
*.blg
*.out
*.aux
*.log
*.nav
*.snm 
*.toc

tmocmd
tmogui
position.dat
recent.dat

TMOAncuti16/*.so
TMOAlsam09/*.so
TMOBae06/*.so
TMOJin14/*.so
TMOKim09/*.so
TMOLee10/*.so
TMOMM16/*.so
TMOSong10/*.so
TMOWard94/*.so
TMOYourOperatorNameLinux/*.so
TMOZhao10/*.so
TMOZheng15/*.so
tmolib/*.so

*.jpg
*.exr
*.hdr
*.tif
*.tiff

*.tml
TMOgui/*.tml

TMOgui/moc_*
TMOgui/resources*

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
