build/*
*.swp
*.tml
*.cxx
*.so
resources*.h
*.dat
*.dvi
*.bbl
*.blg
*.out
*.aux
*.log
*.nav
*.snm 
*.toc
*.jpg
*.exr
*.hdr
*.tiff
*.pfm
.project
*.user
#tmocmd
#tmogui
position.dat
recent.dat

TMOAncuti16/*.so
TMOAlsam09/*.so
TMOBae06/*.so
TMOCadik08/*.so
TMOCadik08/resources/images
TMOJin14/*.so
TMOKim09/*.so
TMOLee10/*.so
TMOMM16/*.so
TMOSong10/*.so
TMOWard94/*.so
TMOYourOperatorNameLinux/*.so
TMOZhao10/*.so
TMOZheng15/*.so
tmolib/*.so
TMOgui/*.tml
TMOgui/moc_*
TMOgui/resources*


CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
test
/.vscode
*.dot
/html
/latex
